<div class="book-summary">
    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="검색어 입력" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">검색하기</a>
        </div>
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    <strong>
                    {{ site.title | escape }}
                    </strong>
                </a>
            </li>

            <li class="divider"></li>

            {% for collection in site.collections %}
                <!-- <p>{{ collection.label }}</p> -->
                {% if collection.output %}
                    {% if collection.label == "posts" %}
                        {% assign reversed_posts = site[collection.label] | reverse %}
                    {% else %}
                        {% assign reversed_posts = site[collection.label] %}
                    {% endif %}

                    {% for post in reversed_posts %}
                        {% unless post.exclude %}
                            {% if page.url == post.url %}
                            <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                            {% else %}
                            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                            {% endif %}
                                <a href="{{site.baseurl}}{{post.url}}">
                                    <strong>
                                        {{ post.title | escape }}
                                    </strong>
                                </a>
                                {% if site.toc.enabled %}
                                    {% if page.url == post.url %}
                                        {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endunless %}
                    {% endfor %}

                    {% if reversed_posts.size > 0 %}
                        <li class="divider"></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <li>
                <a href="https://woensug-choi.github.io" target="blank" class="gitbook-link">
                    by Woen-Sug Choi
                </a>
            </li>
        </ul>
    </nav>
</div>
