<!DOCTYPE HTML>
<html lang="en" >
    <head>
        
        {%- include head.html -%}

        {% if page.previous %}
            <link rel="prev" href="{{site.baseurl}}{{page.previous.url}}" />
        {% else %}
            <link rel="prev" href="{{site.baseurl}}/" />
        {% endif %}

        {% if page.next %}
            <link rel="next" href="{{site.baseurl}}{{page.next.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- Title -->
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        {% if page.title %}
                            <a href="." >{{ page.title | escape }}</a>
                        {% else %}
                            <a href="." >{{ site.title | escape }}</a>
                        {% endif %}
                    </h1>
                </div>

                <div class="body-inner">
                    
                    {%- include body.html -%}

                    {% if page.previous %}
                        <a href="{{site.baseurl}}{{page.previous.url}}" class="navigation navigation-prev navigation-unique" aria-label="Previous page: {{page.previous.title}}">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    {% else %}
                        <a href="{{site.baseurl}}/" class="navigation navigation-prev navigation-unique" aria-label="Previous page: {{site.title}}">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    {% endif %}

                    {% if page.next %}
                        <a href="{{site.baseurl}}{{page.next.url}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{page.next.title}}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    {% endif %}

                    <div class="comments" style="text-align: center; margin-top: 50px;">
                        <div class="utterance-container" style="max-width: 85%; margin: 0 auto;">
                            <script>
                                // load utteranc comment
                                let html = document.querySelector('html');
                                var getTheme = html.dataset['mode'];
                                getTheme = getTheme == null ? 'light' : getTheme;
                        
                                let theme = getTheme === 'dark' ? 'github-dark' : 'github-light';
                                let s = document.createElement('script');
                                s.src = 'https://utteranc.es/client.js';
                                s.setAttribute('repo', 'woensug-choi/ChatGee');
                                s.setAttribute('issue-term', 'title');
                                s.setAttribute('theme', theme);
                                s.setAttribute('label', "댓글");
                                s.setAttribute('crossorigin', 'anonymous');
                                s.setAttribute('async', '');
                                document.querySelector('div.comments').innerHTML = '';
                                document.querySelector('div.comments').appendChild(s);
                            </script>
                        </div>
                    </div>

                    <!-- <div class="utterance-post-footer" style="text-align: center; margin-top: 50px;">
                        <div class="utterance-container" style="max-width: 85%; margin: 0 auto;">
                            <script src="https://utteranc.es/client.js"
                                repo="woensug-choi/ChatGee"
                                issue-term="title"
                                label="댓글"
                                theme="github-light"
                                crossorigin="anonymous"
                                async>
                            </script>
                        </div>
                    </div> -->

                    <br><br><br><br>
                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
            });
            </script>

            <!-- For code copy button -->
            <script src="./../assets/copyCode.js"></script>

            <!-- For mermaid diagram drawing (dynamically auto re-render)-->
            <script src="./../jekyll/mermaid.min.js"></script>
            <script>
                mermaid.initialize({startOnLoad:true});
            </script>
            <script>
                function renderMermaid(){
                    mermaid.init(undefined,document.querySelectorAll(".mermaid"));
                }
                $(function() {
                    $(document).on('previewUpdated', function() {        
                        renderMermaid();
                    });
                    renderMermaid();
                });
            </script>

        </div>

        {%- include footer.html -%}

    </body>
</html>